header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav{
        ul{
                display: flex;
                justify-content: flex-end;
        }
}


/*----------- MAIN --------------*/

div.familyGallery figure {
        flex-basis: 19.333%;
    }

/*----------- FOOTER --------------*/
    
